.MainAreaBox{
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    height: 101vh;
    flex: 1;
    background-color: rgb(223, 223, 223);
}
.MainAreaBoxInner{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.LeftSection{
    flex-direction: column;
    flex: 0.4;

}
.LeftSectionInner{
    flex-direction: column;
    flex: 1;

}
.LeftDocumentImage{
    width: 450px;
    height: 350px;
    margin: 1rem;
    border: 1px solid rgb(141, 223, 116);
}

.RightSection{
    flex-direction: column;
    flex: 0.6

}
.RightSectionInner{
    flex-direction: column;
    flex: 1;

}

.ImageButtons{
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
}
