.ApiSectionBox{
    width: 650px;
    height: 440px;
    display: flex;
    margin: 1rem 0rem 0rem 0rem;
    background-color: #051727;
}
.ApiSectionBoxLeft{
    flex:0.5;
    overflow:hidden;
    padding-left: 10px;
}
.ApiSectionBoxRight{
    flex:0.5
}